@import '../../../common.styl'

.screenWrapper
  background white

  &.screen 
    border-radius 12px

    &.table
      border 1px solid black

      &.head
      border 1px solid black
        
        &.row
          border 1px solid black